<clr-main-container>
  <clr-header class="header-6">
    <button class="branding" routerLink="/">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Gilded Rose Shop</span>
    </button>
    <div class="header-nav">
      <a class="nav-link" href="#" routerLink="/inventory" routerLinkActive="active">
        <span class="nav-text">Inventory</span>
      </a>
      <a class="nav-link" href="#" routerLink="/projection" routerLinkActive="active">
        <span class="nav-text">Projection</span>
      </a>
    </div>
  </clr-header>

  <app-alert-container></app-alert-container>
  <router-outlet></router-outlet>
</clr-main-container>
